@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntu';
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  height: 15vh;
  width: 100%;
  background-color: #91ACCA;
}

.formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroupControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  background-color: #403E39;
  color: rgb(201, 201, 201);
  font-family: var(--body-font);
}